$transition: all 0.1s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$max-width: 1170px; // The max width of the entire site
$fixed-width: 920px; // The size of the content

//Site Dependent
$clr-background: #f0f0f0;
$clr-navbar: #A50000;
